html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-color: #626262;
  --text-transformation: #03a9f4;
  --font-family: "Playfair Display", serif;
  --list-color: #b4ad9e;
}

.menu-list {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.7;
  margin-right: 110px;
}

.list-li {
  margin-top: 74px;
  margin-bottom: 100px;
}

.list {
  list-style-type: none;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-list:focus,
.menu-list:hover {
  color: var(--text-transformation);
}

/*Переходим к body*/

.list-1 {
  color: var(--list-color);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  width: 900px;
}

.paragraph-title {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}

.paragraph {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.7;
}

.button {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 30px;
  line-height: 1.7;
  cursor: pointer;
}

/*Контейнер*/
.container {
  width: 1200px;
  margin-right: 150px;
  margin-left: 150px;
}

.value-h {
  height: 280px;
}

.list-1-1 {
  margin-right: 60px;
  flex-basis: calc(100% / 2 - 30px);
}
