html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-color: #626262;
  --text-transformation: #03a9f4;
  --font-family: "Playfair Display", serif;
  --list-color: #b4ad9e;
}

.menu-list {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.7;
  display: block;
}

.list-li {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 105px;
}

.list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}

.list-li:last-child {
  margin-right: 0;
}

.menu-list:hover,
.menu-list:focus {
  color: var(--text-transformation);
}

/*Переходим к body*/

.list-1 {
  padding: 0;
  width: 900px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.paragraph-title {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 42px;
  margin-top: 0;
}

.paragraph {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 0;
  margin-top: 0;
}

.button {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  border: 1px solid var(--text-color);
  font-family: var(--font-family);
  height: 60px;
  width: 165px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: var(--text-transformation);
}

/*Контейнер*/
.container {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.container-header {
  padding-top: 75px;
  padding-bottom: 100px;
}

.clear-fixation {
  margin: 0;
  padding: 0;
}

.value-h {
  height: 280px;
  margin-bottom: 30px;
}

.paragraph-list-1 {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--list-color);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.item {
  flex-basis: calc(100% / 2 - 30px);
  margin-right: 60px;
  list-style-type: none;
  margin-bottom: 135px;
}

.item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.item:nth-child(2n) {
  margin-right: 0px;
}

.section-first {
  padding-bottom: 70px;
}
